.section-why-choose {
  .bg-blue {
    padding: 40px;
    height: 661px;
    border-radius: 32px;
    background-image: url('../../assets/images/home-bg-4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: end;
    color: #fff;
  }

  .bg-circle-white {
    padding: 40px;
    height: 279px;
    border-radius: 32px;
    border: 2px solid;
    border-image-source: linear-gradient(251.23deg, rgba(246, 246, 247, 0) 2.26%, #f2f3f5 98.14%);
    background-image: url('../../assets/images/home-bg-5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .border-image {
    border: 2px solid;
    border-image-source: linear-gradient(251.23deg, rgba(246, 246, 247, 0) 2.26%, #f2f3f5 98.14%);
  }
}

.functional-section {
  .slick-slider {
    .slick-slide {
      & > div {
        margin: 0 15px;
      }
    }

    .slick-list {
      margin: 0 12px;
    }
  }
}

.our-team-section {
  .slick-slider {
    .slick-dots {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      // height: fit-content;
      display: flex !important;
      justify-content: center;
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(216, 216, 216);
      border-radius: 4px;

      .slick-active {
        background-color: black;
        will-change: background-color;
        transition: all 0.3s ease-in-out;
      }

      li {
        width: 100%;
        height: 3px;
        margin: 0;
        border-radius: 4px;
        background-color: rgb(216, 216, 216);

        button {
          width: 83px;
          height: 3px;
          padding: 0;
          will-change: width;
          transition: all 5s ease-in-out;

          &::before {
            display: none;
            font-size: 8px;
          }
        }
      }
    }
  }
}

.cosmetic-section {
  .slick-slider {
    .slick-list {
      margin: 0 15px;
      border-radius: 32px;
    }

    .slick-slide {
      & > div {
        margin: 0 8px;
      }
    }

    .slick-current {
      & + div {
        & > div:first-child {
          transition: all 0.5s ease-in-out;
          margin-top: 90px;
        }
      }
    }
  }
}

.rich-food-section {
  .slick-slider {
    .slick-list {
      margin: 0 15px;
      border-radius: 32px;
    }

    .slick-slide {
      & > div {
        margin: 0 8px;
      }
    }

    .slick-current {
      & + div {
        & > div:first-child {
          transition: all 0.5s ease-in-out;
          margin-top: 90px;
        }
      }
    }
  }
}

.unveiling-section {
  .slick-slider {
    .slick-list {
      margin: 0 15px;
      border-radius: 32px;
    }

    .slick-slide {
      & > div {
        margin: 0 8px;
      }
    }

    .slick-current {
      & > div:first-child {
        transition: all 0.5s ease-in-out;
        margin-top: 150px;
      }
    }
  }
}

.technology-section {
  .swiper {
    overflow: hidden;
    position: relative;
    z-index: 100;

    .swiper-wrapper {
      overflow: visible;
      .swiper-slide-active {
        z-index: 200;
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: -20px;
      z-index: 1000;

      .swiper-pagination-bullet {
        background: white;
        opacity: 0.4;
      }

      .swiper-pagination-bullet-active {
        background: white;
        opacity: 1;
      }
    }
  }
}
