.feature-product-slide {
  .slick-list {
    .slick-slide {
      .box-content {
        display: none;
      }
    }
    .slick-active {
      .box-content {
        display: none;
      }
      & > div:first-child {
        margin-left: -47px;
        transition: all 0.3s ease-in-out;
      }
    }

    .slick-center {
      & > div:first-child {
        margin-top: -90px;
        margin-left: -88px !important;
        transition: all 0.3s ease-in-out;
        will-change: margin-top;
      }

      & + .slick-active {
        & > div:first-child {
          margin-left: 107px;
          margin-top: -90px;
          transition: all 0.3s ease-in-out;
          will-change: margin-top;
        }

        & + .slick-slide {
          & > div:first-child {
            margin-left: 107px !important;
            transition: all 0.3s ease-in-out;
            will-change: margin-left;
          }
        }

        .product-feature-card {
          .box-image {
            order: 2;
          }
        }
      }
    }
  }
}

.feature-product-slide-responsive {
  .slick-slider {
    .slick-slide {
      height: 472px !important;

      .box-content {
        display: none;
      }
    }
    .slick-list {
      height: 1350px !important;
      .slick-current {
        height: 472px !important;
        .product-feature-card {
          margin-top: 100px;
          .box-image {
            img {
              width: 266px;
              height: 266px;
              transition: all 0.3s ease-in-out;
              border-radius: 39.23px;
            }
          }
        }

        & + .slick-active {
          height: 390px !important;
          .basic-content {
            display: none;
          }
          .box-content {
            display: flex;
          }
          & + .slick-active {
            .product-feature-card {
              .box-image {
                order: 2;
              }
            }
          }
        }
      }
    }
  }
}

.feature-product-slide-responsive-dialog{
  .slick-slider {
    .slick-slide {
      height: 440px !important;

      .box-content {
        display: none;
      }
    }
    .slick-list {
      height: 1150px !important;
      .slick-current {
        height: 440px !important;
        .product-feature-card {
          margin-top: 120px;
          .box-image {
            img {
              width: 217px;
              height: 217px;
              transition: all 0.3s ease-in-out;
              border-radius: 39.23px;
            }
          }
        }

        & + .slick-active {
          height: 320px !important;
          .basic-content {
            display: none;
          }
          .box-content {
            display: flex;
          }
          & + .slick-active {
            margin-left: 39%;
            .product-feature-card {
              .box-image {
                order: 2;

                img {
                  width: 217px;
                  height: 217px;
                  transition: all 0.3s ease-in-out;
                  border-radius: 39.23px;
                }
              }
            }
          }
        }
      }
    }
  }
}
