.slider-banner-category {
  .slick-dots {
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: 10px;

    li {
      button {
        padding: 0;

        &::before {
          font-size: 8px;
        }
      }
    }
  }
}
