.banner {
  .slick-slider {
    .slick-dots {
      display: flex !important;
      justify-content: center;
      position: absolute;
      bottom: 15px;

      li {
        button {
          padding: 0;

          &::before {
            font-size: 10px;
          }
        }
      }
    }
  }
}
