.setting {
  .setting-title {
    background-image: url('../../assets/background/bg-title-setting-page.png');
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media only screen and (max-width: 640px) {
}
